h1 {
    color:white;
    font-size: 2em;
}

body {
background-color: black;
font-size: 20px;
height: auto;
}

#extinct-specie {
background-color: white;
color: black;
}

#description {
color: white;
}

#rodape {
 padding-bottom: 0%;
}

.list-style {
background-color: blue;
color: aliceblue;
font-weight: bold;
font-style: italic;
line-height: 40px;
text-align: center;
text-decoration: underline;
}

p {
font-family: monospace;
}

.paragrafos {
    width: 80%;
    height: 300px;
    
}

footer {
    background-color: white;
    scroll-padding-inline-end: 200px;

}